.mainContainer {
  position: 'relative';
  height: var(--game-canvas-height);
  width: 100%;
}

.navBarContainer {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar {
  height: 100;
}

.header {
  width: 100%;
  height: var(--game-canvas-height);
  clip-path: polygon(0 0, 0 100%, 100% 67%, 100% 0);
  z-index: 1;
}

.sectionBackground {
  height: 100%;
  width: 100%;
}

.sectionBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--game-canvas-height);
}

.skeletonBackground {
  height: var(--game-canvas-height);
  width: 100%;
  clip-path: polygon(0 0, 0% 95%, 100% 67%, 100% 0);
}
