.mainContainer {
  position: relative;
  height: var(--game-canvas-height);
  width: 100%;
}

.navBarContainer {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header {
  width: 100%;
  height: var(--game-canvas-height);
  /* clip-path: polygon(0 0, 0 100%, 100% 67%, 100% 0); */
  z-index: 20;
}

.sectionBackground {
  height: 100%;
  width: 100%;
}

.sectionBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--game-canvas-height);
}

.skeletonBackground {
  height: var(--game-canvas-height);
  width: 100%;
  z-index: -5;
  /* clip-path: polygon(0 0, 0% 95%, 100% 67%, 100% 0); */
}

.radiusContainer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 5;
}

.radiusBorderContainer {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  position: absolute;
  fill: var(--orange-main);
}

[data-mantine-color-scheme='light'] .fill {
  fill: var(--mantine-color-white);
}

[data-mantine-color-scheme='dark'] .fill {
  fill: var(--mantine-color-dark-7);
}

.navMobile {
  @media (max-width: $mantine-breakpoint-md) {
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: var(--mantine-shadow-lg);
  }
}

[data-mantine-color-scheme='light'] .navMobile {
  @media (max-width: $mantine-breakpoint-md) {
    border-bottom: 1px solid var(--mantine-color-gray-3);
  }
}

[data-mantine-color-scheme='dark'] .navMobile {
  @media (max-width: $mantine-breakpoint-md) {
    border-bottom: 1px solid var(--mantine-color-gray-7);
  }
}
