.section {
  z-index: 10;
}

.grid {
  @media (min-width: $mantine-breakpoint-md) {
    transform: translateY(calc(-1 * var(--section-spacing)));
    z-index: 10;
    padding-top: 20px;
  }
  @media (max-width: $mantine-breakpoint-md) {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
  }
}

[data-mantine-color-scheme='light'] .arrow {
  fill: var(--mantine-color-dark-7);
}

[data-mantine-color-scheme='dark'] .arrow {
  fill: var(--mantine-color-dark-0);
}
