.attachmentContainer {
  position: relative;
}

.removeAction,
.mantine-ActionIcon-root {
  border: 5px solid black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  z-index: 100;
}

.previewPicture {
  border-radius: 10px;
}
