.container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--mantine-shadow-lg);
}

.websiteImage {
  height: 340px;
  width: auto;
}

[data-mantine-color-scheme='dark'] .container {
  background-color: #1f1f1f;
  box-shadow: none;
  border: 1px solid var(--mantine-color-gray-3);
}
