.titleContainer {
  width: 100%;
  @media (min-width: $mantine-breakpoint-md) {
    position: absolute;
    top: 370px;
    left: 0;
    z-index: 8;
  }
  @media (max-width: $mantine-breakpoint-md) {
    padding-bottom: 20px;
  }
}

.hTimelineTitle {
  white-space: nowrap;
}

.mainPicture {
  border-radius: 50%;
  border: 5px solid var(--orange-main);
  z-index: 1;
}
